<header>
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <h3>
                <span>Stockr {{ dashboard.hello }}</span>
            </h3>
        </div>
    </md-toolbar>
</header>
<!-- sidebar -->
<div layout="row" layout-fill flex>
    <div layout="column" flex="20" class="md-whiteframe-z2">
        <div layout="row" layout-align="center center">
            <md-content>
                <md-item>
                    <md-item-content>
                        <div class="user">
                            <div class="md-tile-content image" layout-align="center" layout="row">
                                <img src="images/user.jpg">
                            </div>
                            <div class="md-tile-content name">
                                <h3>Maayan Glikser</h3>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
            </md-content>
        </div>

        <div layout="row" layout-align="center center">
            <md-content class="md-padding">
                <md-list>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Net Worth: 50K</span>
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Balance: 50K</span>
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Total Shares: 50</span>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>

    </div>
    <!-- /sidebar -->
    <div layout="column" flex layout-padding>
        <div layout="row" layout-padding>
            <md-input-container flex>
                <label>Search</label>
                <input ng-model="dashboard.search">
            </md-input-container>
        </div>
        <div layout="row">
            <md-content>
                <md-list layout="row" layout-wrap>
                    <md-item ng-repeat="stock in dashboard.stocks | filter:dashboard.search track by stock.symbol">
                        <md-card layout-padding>
                            <md-content layout="row">
                                <div class="stock-details">
                                    <p class="stock-company-name">{{ ::stock.name }}</p>

                                    <p class="stock-extra-details">
                                        <span>{{ ::stock.stockExchange }}</span>
                                        <span>{{ ::stock.symbol }}</span>
                                        <span>{{ ::dashboard.yesterday }} {{ ::stock.lastTradeTime }}</span>
                                    </p>

                                    <p>
                                        <span class="stock-price">{{ ::stock.price }}</span>
                                        <span class="stock-change">{{ ::stock.change }} ({{ ::stock.changeInPercent}})</span>
                                    </p>

                                    <p class="stock-shares">
                                        50 Shares
                                    </p>
                                </div>
                                <div layout-align="center center" layout="row" class="stock-actions">
                                    <md-button class="md-raised md-primary">Buy</md-button>
                                    <md-button class="md-raised">Sell</md-button>
                                </div>
                                <div layout-align="end start">
                                    <a href="" ng-click="dashboard.removeStock(stock.symbol)">
                                        <md-icon icon="lib/material-design-icons/action/svg/production/ic_highlight_remove_24px.svg"
                                             style="width: 24px; height: 24px;"></md-icon>
                                    </a>
                                </div>

                            </md-content>
                        </md-card>
                    </md-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>

<!-- FAB POPUP -->
<div id="fab-popup" layout="column" layout-align="space-between" ng-if="false"
     ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="lib/material-design-icons/editor/svg/production/ic_attach_money_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Change Balance
        </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="lib/material-design-icons/social/svg/production/ic_public_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Stock News
        </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="lib/material-design-icons/content/svg/production/ic_add_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Track a stock
        </md-tooltip>
    </md-button>
</div>

<md-button class="md-fab action-button" aria-label="Actions">
    <md-icon icon="lib/material-design-icons/navigation/svg/production/ic_menu_24px.svg"
             style="width: 24px; height: 24px;"></md-icon>
</md-button>