<header>
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <h3>
                <span>Stockr</span>
            </h3>
        </div>
    </md-toolbar>
</header>
<!-- sidebar -->
<div layout="row" layout-fill flex>
    <div layout="column" flex="20" class="md-whiteframe-z2">
        <div layout="row" layout-align="center center">
            <md-content>
                <md-item>
                    <md-item-content>
                        <div class="user">
                            <div class="md-tile-content image" layout-align="center" layout="row">
                                <img src="images/user.jpg">
                            </div>
                            <div class="md-tile-content name">
                                <h3>Maayan Glikser</h3>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
            </md-content>
        </div>

        <div layout="row" layout-align="center center">
            <md-content class="md-padding">
                <md-list>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Net Worth: {{ dashboard.netWorth | currency:'$':0 }}</span>
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Balance:</span> <span ng-class="{red: dashboard.getBalance() < 0, green: dashboard.getBalance() > 0}">{{ dashboard.getBalance() | currency:'$':0 }}</span>
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <span>Total Shares: {{ dashboard.totalShares() }}</span>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>

    </div>
    <!-- /sidebar -->
    <div layout="column" flex layout-padding>
        <div layout="row" layout-padding>
            <md-input-container flex>
                <label>Search</label>
                <input ng-model="dashboard.search">
            </md-input-container>
        </div>
        <div layout="row">
            <md-content>
                <md-list layout="row" layout-wrap>
                    <md-item ng-repeat="stock in dashboard.stocks | filter:dashboard.search track by stock.symbol">
                        <md-card layout-padding>
                            <md-content layout="row">
                                <div class="stock-details">
                                    <p class="stock-company-name">{{ ::stock.name }}</p>

                                    <p class="stock-extra-details">
                                        <span>{{ ::stock.stockExchange }}</span>
                                        <span>{{ ::stock.symbol }}</span>
                                        <span>{{ ::dashboard.yesterday }} {{ ::stock.lastTradeTime }}</span>
                                    </p>

                                    <p>
                                        <span class="stock-price">{{ ::stock.price | number:2 }}</span>
                                        <!-- compromise: check against + and - signs instead of converting to numbers and checking if positive or negative. as well as creating a custom directive for this situation -->
                                        <span class="stock-change" ng-class="{red: stock.change.indexOf('-') !== -1, green: stock.change.indexOf('+') !== -1}">{{ ::stock.change }} ({{ ::stock.changeInPercent}})</span>
                                    </p>

                                    <p class="stock-shares">
                                        {{ dashboard.getStockShares(stock.symbol) }} Shares
                                    </p>
                                </div>
                                <div layout-align="center center" layout="row" class="stock-actions">
                                    <md-button class="md-raised md-primary" stock-button="buy" stock-symbol="{{ ::stock.symbol }}" stock-price="{{ ::stock.price }}">Buy</md-button>
                                    <md-button class="md-raised" stock-button="sell" stock-symbol="{{ ::stock.symbol }}" stock-price="{{ ::stock.price }}">Sell</md-button>
                                </div>
                                <div layout-align="end start">
                                    <a href="" ng-click="dashboard.removeStock(stock.symbol)">
                                        <md-icon icon="lib/material-design-icons/action/svg/production/ic_highlight_remove_24px.svg"
                                             style="width: 24px; height: 24px;"></md-icon>
                                    </a>
                                </div>

                            </md-content>
                        </md-card>
                    </md-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>

<st-menu></st-menu>